#main-canvas {
  // background-color: #ddd;
  z-index: 10;
  pointer-events: none;
}

.dropdown-content {
  display: none;
}

.dropdown-container:focus .dropdown-content {
  display: block;
}

.dropdown-item {
  background-color: #fff;
}

.dropdown-item:hover {
  background-color: #f2f2f2;
}

.hm-text-color {
  color: rgba(0,0,0,0.8)
}


#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.page-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* justify-content: space-between;
  align-items: center; */
}

.top-bar {
  width: 100vw;
  height: 50px;
  background-color: #555;
  flex: 0 0 auto;
}

.simulation-container {
  position: relative;
  width: 100vw;
  height: auto;
  flex: 1 1 auto;
}

.panel {
  position: absolute;
  width: 200px;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.3);
  top: 20px;

  padding: 10px;

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.left {
  left: 20px;
  max-height: calc(100% - 40px);
  overflow-y: auto;
  grid-gap: 0;
  width: 300px;
  padding-top: 0;
  padding-bottom: 0;
}

.right {
  right: 20px;
}

.panel-info {
  position: absolute;
  color: #fff;
  text-align: right;
  width: 200px;
  right: 20px;
  bottom: 20px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.text-large {
  font: 300 1.2rem "Segoe UI", sans-serif;
}

.text-small {
  font: 300 0.8rem "Segoe UI", sans-serif;
}

.toggle {
  background-color: rgba(255,255,255,0.1);
  padding: 3px 0;
  color: #fff;
  font: 300 1rem "Segoe UI", sans-serif;

  user-select: none;
  cursor: pointer;
}

.on {
  background-color: rgba(255,255,255,0.3);
}

.constellation-title {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font: 300 1.2rem "Segoe UI", sans-serif;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.constellation-arrow-container {
  height: 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.arrow {
  height: 100%;
  font: 300 1rem/0.4rem "Segoe UI", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-grow: 1;
  user-select: none;
  cursor: pointer;
}

.arrow:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.constellation-info-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.constellation-info-container > :last-child {
  margin-bottom: 10px;
}

.constellation-container {
  background-color: rgba(255,0,0,0.1);
  border: 1px solid rgba(255,0,0,0.3);

  padding: 5px;

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1px;
}

.constellation-info {
  /* background-color: rgba(255,255,255,0.1); */
  padding: 1px 0 1px 6px;
  color: #fff;
  font: 300 1rem "Segoe UI", sans-serif;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  /* user-select: none;
  cursor: pointer; */
}

.heatmap-item {
  border: none;
}

.heatmap-item:hover {
  border: 2px solid #000;
}