$theme-color-1: hsl(218, 70%, 54%);
$theme-color-2: hsl(0,0%,30%);
$theme-color-2-2: hsl(0,0%,40%);
$theme-color-2-3: hsl(0,0%,50%);
$theme-color-2-4: hsl(0,0%,60%);
$color-text1: hsl(0,0%,80%);

$color-dark-1: rgb(31, 31, 31);
$color-dark-2: rgb(80, 80, 80);
$color-dark-3: rgba(0, 0, 0, 0.3);
$color-light-1: rgb(255, 255, 255);
$color-light-2: rgb(209, 209, 209);
$color-light-stat: rgba(255, 255, 255, 0.85);
$color-warning: rgb(255, 50, 50);